{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#f23ca3;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'yakuri:home' %}">JIU薬理学まとめサイトTop</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' joron.id %}">{{joron.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' yakurione.id %}">{{yakurione.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' yakuritwo.id %}">{{yakuritwo.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' yakurithree.id %}">{{yakurithree.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' biseibutu.id %}">{{biseibutu.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:list' bunsiseibutu.id %}">{{bunsiseibutu.subjects}}<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:practice' %}"><strong>薬物名演習</strong><span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'yakuri:structure' %}"><strong>構造式から学ぶ</strong><span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>
<div style="height:80px;">
    <form>
         <input type="image" src="{% static 'img/printimg.png' %}" onclick="window.print()" style="width:90px; height:72px; float:right;"><br>
         <a style="float:right;" href="javascript:void(o)" onclick="window.print()">印刷はこちら</a>
    </form>
</div>
<h1></h1>
{% csrf_token %}
{% block content %}
{% endblock content %}