{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#f23ca3;">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#!">JIU薬理学まとめサイト</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
    
    <li class="nav-item active">
        <a class="nav-link" href="#">薬理学序論<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">薬理学Ⅰ<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">薬理学Ⅱ<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">薬理学Ⅲ<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">微生物学Ⅱ<span class="sr-only">(current)</span></a>
    </li>
    </ul>
  </div>
</nav>
<form class="form-inline"　method="#" action="#">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="text" placeholder="科目名　分野名等" name="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% block content %}
{% endblock content %}