{% extends 'base.html' %}
{% load static %}
{% block content %}
<title>作用機序別一覧({{title.subjects}})</title>
<a href="{% url 'yakuri:list' title.id %}">
    <button style="width:60%;" type="button" class="btn btn-primary btn-lg btn-block">
    {{title.subjects}}で学んだ医薬品一覧へ
    </button>
</a>

{% for fields in field_list %}
<h4>{{fields.fields}}</h4>
<ul>
    {% for rel in fields.reltarget.all %}
    <li><a href="{% url 'yakuri:target' rel.id %}">{{rel}}に作用する医薬品</a></li>
    {% endfor %}
</ul>
{% endfor %}

{% endblock content %}