{% extends 'base.html' %}

{% block content %}

{% load static %}

<title>{{title.subjects}}</title>
<p>ここに<strong>{{title.subjects}}</strong>で学習した医薬品一覧画面を作成する</p>

<script type="text/javascript" src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/list.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/switch.js' %}"></script>
<link rel="stylesheet" href="{% static 'design/list.css' %}">


<a href="{% url 'yakuri:index' %}"><button type="button" class="btn btn-primary btn-lg btn-block">目次へ</button></a>
{% for field in fields %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{field.field__fields}}</h4>
        <button class="hide">医薬品名を非表示にする</button>
        <button class="show">医薬品名を表示する</button>
    </div>
    <div class="card-body">
            <table border=3 class="mitabla" style="width:90%;">
            <tr>
                <th style="width:30%;">薬物名</th>
                <th style="width:20%;">作用部位</th>
                <th style="width:10%;">作用の仕方</th>
                <th>特徴</th>
            </tr>
            
            {% for medicine in medicines %}
            {% if medicine.field.fields in field.field__fields  %}
            <tr>
                <td>□<span class=addname>{{medicine.name}}</span></td>
                <td>
                
                {% for target in medicine.target.all %}
                 <div>{{target}}</div>
                {% endfor %}
                
                </td>
                <td><div>{{medicine.work.works}}</div></td>
                <td><div>{{medicine.detail|linebreaksbr}}</div></td>
            </tr>
                {% endif %}
            {% endfor %}
            </table>
    </div>
</div>


{% endfor %}


{% endblock content %}