{% extends 'base.html' %}

{% block content %}

{% load static %}

<title>{{title.subjects}}</title>
<p>ここに<strong>{{title.subjects}}</strong>で学習した医薬品一覧画面を作成する</p>

<script type="text/javascript" src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/list.js' %}" ></script>
<link rel="stylesheet" href="{% static 'design/list.css' %}">

<button class="hide">医薬品名を非表示にする</button>
<button class="show">医薬品名を表示する</button>

{% for field in fields %}
    <h2>{{field.field__fields}}</h2>
            <table border=3 class="mitabla" style="width:80%;">
            <tr>
                <th style="width:20%;">薬物名</th>
                <th style="width:20%;">作用部位</th>
                <th style="width:10%">作用の仕方</th>
                <th>特徴</th>
            </tr>
            
            {% for medicine in medicines %}
            {% if medicine.field.fields in field.field__fields  %}
            <tr>
                <td><div class=addname>{{medicine.name}}</div></td>
                <td>{{medicine.target}}</td>
                <td>{{medicine.work.works}}</td>
                <td>{{medicine.detail|linebreaksbr}}</td>
            </tr>
                {% endif %}
            {% endfor %}
            </table>
<script>
//医薬品名を隠す処理
$('.hide').click(function(){
        $('.addname').hide();
});
$('.show').click(function(){
        $('.addname').show();
});
</script>

{% endfor %}


{% endblock content %}