{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'jquery/switch.js' %}"></script>
<title>薬品名演習問題</title>

<h2>分野別で絞り込む</h2>
    <form method="GET" action="{% url 'yakuri:practice' %}">
    <P>科目選択<br>
    {% for subjects in subjects_list %}
       <input type="radio" name="subjectkey" value="{{subjects.id}}">{{subjects.subjects}}
    {% endfor %}
    </p>
    <button type="submit" class="btn btn-primary">絞り込む</button>
    </form>
    
        <form method="GET" action="{% url 'yakuri:practice' %}">
            <select name="fieldsset" style="width:20%;">
                <option value="{{defaultfield.id}}">{{defaultfield.fields}}</option>
            {% for fields in fields_list %}
                <option value="{{fields.id}}">{{fields.fields}}分野ID{{fields.id}}</option>
            {% endfor %}
            </select>
        <button type="submit" class="btn btn-primary">絞り込む</button>
    </form>
      <button class="btn btn-primary" onclick="location.href='{% url 'yakuri:practice' %}'">絞り込み解除</button>

{% for fields in fieldsmedicines_list  %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{fields.fields}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">
        <button class="hide">医薬品名を非表示にする</button>
        <button class="show">医薬品名を表示する</button>
    </h6>
    <p class="card-text">
    <ul>
    {% for medicines in medicines_list %}
        {% if medicines.field.id == fields.id %}
        <li>
            (薬物名:<span class="addname" style="color:red;">{{medicines.name}}</span>)
            {{medicines.question}}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </p>

  </div>
</div>
{% endfor %}


{% endblock content %}