{% extends 'base.html' %}
{% block content %}
{% load static %}

<script type="text/javascript" src="{% static 'jquery/switch.js' %}"></script>
<title>{{targets}}</title>
<p><strong>{{targets}}</strong>に作用する医薬品一覧</p>

<div style="size:60%;">

<button class="hide">医薬品名を非表示にする</button>
<button class="show">医薬品名を表示する</button>
{% for works in work_list %}    
<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{targets}}に対して<strong>{{works.work__works}}</strong>作用を有する薬剤</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">
        <ul>
          {% for medicines in medicines_list %}
              {% if medicines.work.works == works.work__works %}
                <li>
                    <strong>
                      (一般名:<span class="addname" style="color:red;">{{medicines.name}}</span>)
                    </strong>
            ・・・{{medicines.detail}}※主な先発品(<strong>販売名:<span style="color:blue;">{{medicines.blandname}}</spane></strong>)               
                </li>
              {% endif %}
          {% endfor %}
        </ul>
    </p>
  </div>
</div>
{% endfor %}



{% endblock content %}